<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <ExcludeByFile>
            <Exclude>**/Migrations/**</Exclude>
            <Exclude>**/Program.cs</Exclude>
            <Exclude>**/*Tests/**</Exclude>
            <Exclude>**/*UnitTests/**</Exclude>
            <Exclude>**/*UnitTests.Common/**</Exclude>
          </ExcludeByFile>
		  <ExcludeByAttribute>
            <Exclude>Obsolete</Exclude>
            <Exclude>GeneratedCodeAttribute</Exclude>
            <Exclude>CompilerGeneratedAttribute</Exclude>
            <Exclude>ExcludeFromCodeCoverageAttribute</Exclude>
          </ExcludeByAttribute>
		  <IncludeTestAssembly>false</IncludeTestAssembly>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>