html,
body {
    min-height: 100vh;
    margin: 0;
    font-size: 14px;
}

.body-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr 50px;
    gap: 0px 0px;
    grid-template-areas:
        "Header Header"
        "Sidebar Main"
        "Footer Footer";
    min-height: 100vh;
}

.header {
    grid-area: Header;
    border: 1px solid #999;
}

.sidebar {
    grid-area: Sidebar;
    border: 1px solid #999;
}

.main {
    grid-area: Main;
    border: 1px solid #999;
}

.footer {
    grid-area: Footer;
    border: 1px solid #999;
}