html,
body {
    min-height: 100vh;
    margin: 0;
    font-size: 14px;
}

.body-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4.5rem 1fr 3rem;
    gap: 0px 0px;
    grid-template-areas:
        "Header"
        "Main"
        "Footer";
    min-height: 100vh;
}

.header {
    grid-area: Header;
    border: 1px solid #999;
}

.main {
    grid-area: Main;
    border: 1px solid #999;
}

.footer {
    grid-area: Footer;
    border: 1px solid #999;
}